.menu {
  height: 100%;
}

.left-menu {
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid #7e7f94;
}

.movie-name {
  width: 30%;
}

.movie-coutry {
  width: 30%;
}

.movie-edit, .movie-delete {
  width: 10%
}

.movie-form input {
  background-color: rgb(27, 122, 167);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
}

.movie-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.movie-form input:focus {
  outline: none;
}

.movie-form button {
  margin: 5px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(103, 224, 113, 1);
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

.button-submit {
  background-color: rgb(49 178 191);
  width: 60px;
  height: 40px;
  float: left;
  padding: 10 0px;
  margin: 10px 10px;
  text-align: center;
  line-height: 37px;
  border-radius: 5px;
  color: #dcdce6;
  cursor: pointer;
}

.button-submit:disabled {
  background-color: gray;

}