.right-menu {
  float: left;
  width: 48%;
  height: 100%;
}

.form-edit {
  height: 80%;
  text-align: left;
  margin: 5px;

  input {
    margin: 10px;
  };

  .form-title {
    width: 100px;
  }
}

.form-button {
  float: right;
}

.edit_form-cancel {
  padding: 5px;
  margin: 5px;
}
